language: python

env:
  global:
    - CC_TEST_REPORTER_ID=3b92efbe2bff1d91058380e57b3eb8d12a9d5d40ae59eb7002b53e9c6b9d41dd

matrix:
  include:
    - python: "2.7"
      env: MPL_VERSION=2.2.3
    - python: "3.3"
      env: MPL_VERSION=2.2.3
    - python: "3.4"
      env: MPL_VERSION=2.2.3
    - python: "3.5"
      env: MPL_VERSION=3.0.1
    - python: "3.6"
      env: MPL_VERSION=3.0.1
    - python: "3.7-dev"
      env: MPL_VERSION=3.0.1

  allow_failures:
    - python: "3.3"
    - python: "3.7-dev"

install:
  - pip install -q matplotlib==$MPL_VERSION
  - pip install -q pytest pytest-cov
  - pip freeze

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - make test-ci

after_script:
  - echo $TRAVIS_TEST_RESULT
  - if [[ "$TRAVIS_PULL_REQUEST" == "false" && "$TRAVIS_PYTHON_VERSION" == "3.6" ]]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi
