[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pyflakes = "*"
pycodestyle = "*"
pytest = "*"
pytest-cov = "*"
pytest-runner = "*"
"pytest-pep8" = "*"
matplotlib = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"

[requires]
