[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
matplotlib = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"

[requires]
